body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 2;
}

a {
  text-decoration: none;
}

.box {
  padding-top: 100px;
  padding-left: 30%;
}

#EDR-element {
  padding: 100px;
  font-weight: 900;
  color: #ffffff;
  -webkit-user-select: none;
  user-select: none;
}

@supports (-webkit-backdrop-filter: blur(0)) {
  #EDR-element {
    filter: brightness(10);
    -webkit-backdrop-filter: brightness(1);
  }
}

/* Blink */
@supports (backdrop-filter: blur(0)) {
  #EDR-element {
    filter: brightness(10);
    backdrop-filter: brightness(10);
    text-shadow: 0 0 10px #ffffff;
  }
}

.HDR-Video {
  /* display: none; */
  width: 2px;
}

@media screen and (max-width: 720px) {
  .box {
    padding-top: 10px;
    padding-left: 10px;
  }

  #EDR-Logo {
    width: 250px;
  }
}
