body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 2;
  background-color: white;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

select {
  font-size: large;
}

.button {
  font-size: 14px;
  padding: 14px;
  background-color: white;
  border-radius: 20px;
  border: none;
  background: #ffffff;
  box-shadow: 5px 5px 10px #c2c2c2, -5px -5px 10px #ffffff;
  color: black;
}

#EDR-element {
  margin: 0;
  font-weight: 900;
  font-size: 10rem;
  color: #ffffff;
  -webkit-user-select: none;
  user-select: none;
}

@supports (-webkit-backdrop-filter: blur(0)) {
  #EDR-element {
    filter: brightness(10);
    -webkit-backdrop-filter: brightness(1);
  }
}

/* Blink */
@supports (backdrop-filter: blur(0)) {
  #EDR-element {
    filter: brightness(10);
    backdrop-filter: brightness(10);
    text-shadow: 0 0 10px #ffffff;
  }
}

.HDR-Video {
  /* display: none; */
  width: 1px;
}
